@import './variables.scss';
.navbar-container {
    height: 3rem;
    // background-color: $blue-light--color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .navbar-start {
        float: left;
        width: 10rem;
        background-color: royalblue;
        height: 100%;
    }
    .navbar-center {
        float: left;
        width: calc((100% - 10rem)/2);
        background-color: sandybrown;
        height: 100%;
    }
    .navbar-end {
        float: right;
        width:  calc((100% - 10rem)/2);
        background-color: seagreen;
        height: 100%;
    }
}