@import './variables.scss';
.navbar-container {
    height: 3rem;
    // background-color: $blue-light--color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .navbar-start {
        float: left;
        width: 50%;
        background-color: royalblue;
        height: 100%;
    }
    .navbar-end {
        float: right;
        width:  50%;
        background-color: seagreen;
        height: 100%;
    }
}