$text-color: #3C3D4E;

$text-blurred-color: #C9CED1;

$card-background-color: #ECF1F6;

$blue-solid-color: #3383F9;

$blue-light--color: #D2E1F4;

$green-solid-color: #1CAD91;

$green-light-color: #D7F2ED;

$yellow-color: #FFC227;

$white-color: #ffffff;

$red-color: #FE5539;


