$text-color: #3c3d4e;

$text-blurred-color: #c9ced1;

$card-background-color: #ecf1f6;

$blue-solid-color: #3383f9;

$blue-light--color: #d2e1f4;

$green-solid-color: #1cad91;

$green-light-color: #d7f2ed;

$yellow-color: #ffc227;

$white-color: #ffffff;

$red-color: #fe5539;

$text-size-large: 1rem;

$text-size-medium: 0.8rem;
